{% extends "flat/base.html" %}
{% block content %}
    <h1>About Page</h1>
    Roomies is a web app made with Django framework.
    <br>
    It let you manage your household chores and time!
    <br>
    - Register and create your new flat, then other users can enter it within name and password!
    <br>
    - Update your user data and profile photo!
    <br>
    - Notify your roommates about parties, events, whatever you want with 'Announcements'!
    <br>
    - Make shopping lists!
    <br>
    - Add periodic chores like hoovering and let our app split up them for you!
    <br>
    - Use it as a reminder of what you should do!
{% endblock content %}