{% extends "flat/base.html" %}
{% block content %}

    <h1>Household chores...</h1>

    {% for chore in chores %}
        <article class="media content-section">
{#          <img class="rounded-circle article-img" src="{{ profile.image.url }}">#}
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ chore }}</a>
                <a href="{% url 'delete-chore' chore.id %}"><span style='font-size:10px;'>&#10060;</span></a>
{#              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
            </div>
              {% if chore.period == 1 %}
               <p class="article-content">Chore is done everyday</p>
              {% else %}
               <p class="article-content">Chore is done every {{ chore.period }} days</p>
              {% endif %}

          </div>
        </article>
    {% endfor %}

{% endblock content %}