{% extends "flat/base.html" %}
{% block content %}

    <h1>What was already done</h1>

    {% for chore in chores %}
        <article class="media content-section">
{#          <img class="rounded-circle article-img" src="{{ profile.image.url }}">#}
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ chore.name }}</a>
{#              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
            </div>
               <small class="text-muted">
                   Made during: {{ chore.start }} to {{ chore.end }}
                   <br>
                   BY: {{ chore.user.profile }}
               </small>

              <br>
              {% if chore.user != user %}
{#                  {% if chore.who_likes %}#}

                  <a href="#"><button type="submit" class="btn btn-success">LIKE</button></a>
              {% endif %}


{#              <form action="" method="post">#}
{#                <input type="hidden" name="my_parameter" value="dosmth">#}
{#                <input type="submit" value="Submit">#}
{#                {% csrf_token %}#}
{#              </form>#}
{#            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>#}
{#            <p class="article-content">{{ post.content }}</p>#}
          </div>
        </article>
    {% endfor %}

{% endblock content %}